<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ClaimChain | Add Child</title>

  <!-- Custom fonts for this template-->
  <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link rel="stylesheet" href="../assests/dashboard.css">
  <style>
      .auth__form {
    min-width: 50%;
    max-width: 340px;
    margin: auto;
    padding: 0 10px;
    position: relative;
    z-index: 9;
  }
  .auth__form_body {
    padding: 0.7rem 1.5rem 35px;
    border-radius: 0.5rem;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
  .auth__form_title {
    font-size: 1.3rem;
    text-align: center;
    color:#584dc3;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
  }
  .auth__form_actions {
    text-align: center;
    padding: 0 2rem;
    margin-top: -25px;
  }
  .auth__form_actions .btn {
    border-radius: 30px;
    box-shadow: 0 2px 12px rgba(50, 128, 228, 0.5);
      transition-duration: .5s;
  }
  
  .auth__form_actions .btn:hover{
      background: white;
      color:#584dc3;
      transition-duration: .5s;
      box-shadow: 0 2px 12px rgba(50, 128, 228, 0.5)
  }
  
    </style>

</head>

<body id="page-top">

 
  <nav class="navbar navbar-expand static-top"  style="background-image: linear-gradient(to right,#584dc3, #3280e4); ">
    <!-- border-bottom:1px solid floralwhite -->

    <a class="navbar-brand mr-1 text-white" href="home">Claim Chain</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto mr-0 mr-md-3 my-2 my-md-0">    
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a class="dropdown-item " href="/logout" >Logout</a>
      </li>
    </ul>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav text-dark" style="background-image: linear-gradient(#3280e4, #584dc3); ">
      <li class="nav-item ">
        <a class="nav-link" href="/home">
          <i class="fas fa-fw fa-tachometer-alt "></i>
          <span>Dashboard</span>
        </a>
      </li>


      <li class="nav-item ">
        <a class="nav-link" href="/viewfamily">
          <i class="fas fa-fw fa-user "></i>
          <span>View Family</span></a>
      </li>
      

      <li class="nav-item">
        <a class="nav-link" href="/addparent">
          <i class="fas fa-fw fa-user-plus"></i>
          <span>Register Parent</span></a>
      </li> 

      <li class="nav-item active">
        <a class="nav-link" href="/register">
          <i class="fas fa-fw fa-user-plus text-warning"></i>
          <span>Register Child</span></a>
      </li>
    </ul>


    <div id="content-wrapper" style="background:white">

      <div class="container-fluid">

        <!-- <p><%= message %></p>
        <form method="POST">
            
            <input name="first_name" type="text" placeholder="first name"/>
            <br/>
            <input name="last_name" placeholder="last name" type="text"/>
            <br/>
            <input name="dob" placeholder="date  of birth" type="text"/>
    
            <br/>
            <select name="gender">
                <option>
                    male
                </option>
                <option>female</option>
            </select>
    
            <input name="cipher_text"  placeholder="cipher text" type="text">
            </br>
            <input name="privateKey" placeholder='privateKey' type="password">
            </br>
            <button name="submit" type="submit">Submit</button>
    
    
        </form> -->
        <form class="auth__form mt-5" autocomplete="off" method="POST">
                <div class="auth__form_body">
                <h3 class="auth__form_title">Add Child</h3>
                <p><%= message %></p>
                <div>
                    <div class="form-group">
                        <label class="text-uppercase small">First Name</label>
                        <input name="first_name" type="text" class="form-control" placeholder="First Name" required="true">
                    </div>
                    <div class="form-group">
                        <label class="text-uppercase small">Last Name</label>
                        <input name="last_name" type="text" class="form-control" placeholder="Last Name" required="true">
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                            <label class="text-uppercase small">Date</label>
                            <input name="dob" type="date" class="form-control" required="true">
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                            <label class="text-uppercase small">Gender</label>
                            <br/>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="male" value="male" checked>
                                <label class="form-check-label" for="male">
                                    Male
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                                <label class="form-check-label" for="female">
                                    Female
                                </label>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                        <label class="text-uppercase small">Cipher Text</label>
                        <input name="cipher_text" type="text" class="form-control"  placeholder="Cipher Text" required="true">
                    </div>

                </div>
                </div>
                <div class="auth__form_actions">
                <button name="submit"class="btn btn-primary btn-lg btn-block">
                    Add Child
                </button>
                </div>
            </form>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © ClaimChain 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!-- Bootstrap core JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script >
    (function($) {
      "use strict"; // Start of use strict
    
      // Toggle the side navigation
      $("#sidebarToggle").on('click', function(e) {
        e.preventDefault();
        $("body").toggleClass("sidebar-toggled");
        $(".sidebar").toggleClass("toggled");
      });
    
      // Prevent the content wrapper from scrolling when the fixed side navigation hovered over
      $('body.fixed-nav .sidebar').on('mousewheel DOMMouseScroll wheel', function(e) {
        if ($(window).width() > 768) {
          var e0 = e.originalEvent,
            delta = e0.wheelDelta || -e0.detail;
          this.scrollTop += (delta < 0 ? 1 : -1) * 30;
          e.preventDefault();
        }
      });
    
      // Scroll to top button appear
      $(document).on('scroll', function() {
        var scrollDistance = $(this).scrollTop();
        if (scrollDistance > 100) {
          $('.scroll-to-top').fadeIn();
        } else {
          $('.scroll-to-top').fadeOut();
        }
      });
    
      // Smooth scrolling using jQuery easing
      $(document).on('click', 'a.scroll-to-top', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
          scrollTop: ($($anchor.attr('href')).offset().top)
        }, 1000, 'easeInOutExpo');
        event.preventDefault();
      });
    
    })(jQuery); // End of use strict
    
  </script>



</body>

</html>
